* {
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: azure;
  width: 100vw;
  height: 100vh;
  

}

#wraper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;

}
#editorWraper {
  width: 100vw;
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: blue;
}

#preview {
  width: 100vw;
  height: 50vh;
  padding: 5%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: teal;
}

span, label {
  display: block;
}

textarea {
  width: 100%;
  height: 100%;
}

pre {
  width: 100%;
}
code {
  background-color: rgba(254,254,254, 0.5);
  width: 90vw;
}