* {
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}
.App {
  text-align: center;
  background-color: azure;
  width: 100vw;
  height: 100vh;
  

}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  
  align-content: stretch;

}
.column {
  flex-flow: column nowrap;
}
.row {
  flex-flow: column wrap;
}
#editorWrapper {
  width: 100vw;
  height: 50vh;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: blue;
}
#editor {
  overflow: auto;
}
#preview {
  width: 100vw;
  height: 50vh;
  padding: 5%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: teal;
  overflow: auto;
}

span, label {
  display: block;
}

textarea {
  width: 100%;
  height: 100%;
}

pre {
  width: 100%;
}
code {
  background-color: rgba(254,254,254, 0.5);
  width: 90vw;
}